.externalNativeBuild

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/.gradle
/.idea

/build

/gradlew

/app/build

/app/src/main/project.properties
/app/app.iml

/app/src/main/bin

/app/src/main/gen

/app/src/main/.classpath

/app/src/main/.project

/app/src/main/.settings/org.eclipse.jdt.core.prefs

/local.properties
/app/app.iml
/King.iml
app/src/main/res/drawable/psb.jpg
app/src/main/res/mipmap-xhdpi/upgrade_version_guide1.jpg
